{% extends 'base.html' %}
{% from "_macros.html" import render_field, render_submit_field %}
{% block content %}
    {% if classes %}
        <div class="row">
            <div class="col-md-offset-1 col-md-8">
                <table class="table table-bordered">
                    <tr>
                        <td>名称</td>
                        <td>描述</td>
                        <td>修改/删除</td>
                    </tr>
                    {% for cls in classes %}
                        <tr>
                            <td>{{ cls.name }}</td>
                            <td>{{ cls.desc }}</td>
                            <td>
                                <a href="{{ url_for('admin.class_edit',id=cls.id) }}" title="编辑">
                                    <span class="glyphicon glyphicon-pencil"></span>编辑
                                </a>|
                                <a href="javascript:void(0);" title="删除修学处"
                                   onclick="confirm_delete('{{ url_for("admin.class_delete",id=cls.id) }}');">
                                    <span class="glyphicon glyphicon-trash"></span>删除
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}