{% extends 'base.html' %}
{% from "_macros.html" import render_field, render_submit_field %}
{% block content %}
    <div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                编辑班级
            </h3>
        </div>
        <div class="panel-body">
            <div class="col-md-8 col-md-offset-1">
                <form action="{{ url_for('admin.class_edit',id=cls.id) }}" class="form-horizontal" role="form"
                      method="POST">
                    {{ form.csrf_token }}
                    {{ render_field(form.division_id,"col-md-3","col-md-9",onChange="get_dept_list()") }}
                    {{ render_field(form.department_id,"col-md-3","col-md-9") }}
                    {{ render_field(form.name,"col-md-3","col-md-9", placeholder="班级名称") }}
                    {{ render_field(form.number,"col-md-3","col-md-9", placeholder="班级编号") }}
                    {{ render_field(form.desc,"col-md-3","col-md-9") }}
                    {{ render_submit_field(form.submit,"col-md-offset-3 col-md-3") }}
                </form>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <a href="{{ url_for('admin.class_list') }}">返回列表</a>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}