{% extends 'base.html' %}
{% from "_macros.html" import render_field, render_submit_field %}
{% block content %}
<div class="row">
    <div class="col-md-offset-1 col-md-6">
        <form action="{{ url_for('admin.class_add') }}" class="form-horizontal" role="form" method="POST">
            {{ form.csrf_token }}
            {{ render_field(form.division_id,"col-md-3","col-md-9",onChange="get_dept_list()") }}
            {{ render_field(form.department_id,"col-md-3","col-md-9") }}
            {{ render_field(form.name,"col-md-3","col-md-9", placeholder="班级名称") }}
            {{ render_field(form.number,"col-md-3","col-md-9", placeholder="班级编号") }}
            {{ render_field(form.desc,"col-md-3","col-md-9") }}
            {{ render_submit_field(form.submit,"col-md-offset-3 col-md-3") }}
        </form>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    function get_dept_list() {
        var division_id = $("#division_id").find("option:selected").val()
        if(division_id>0){
            $.ajax({
                url: '/admin/_get_departments',
                type: 'POST',
                data: {'division_id': division_id},
                success: function (data) {
                    var res = data.depts;
                    alert(res);
                }
            })
        }

    }
</script>
{% endblock %}