{% extends 'base.html' %}
{% from "_macros.html" import render_field, render_submit_field %}
{% block content %}
    {% if divs %}
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr>
                        <td>修学处</td>
                        <td>描述</td>
                        <td>操作</td>
                    </tr>
                    {% for div in divs %}
                        <tr>
                            <td>{{ div.name }}</td>
                            <td>{{ div.desc }}</td>
                            <td>
                                <a href="{{ url_for('admin.division_edit',id=div.id) }}" title="编辑">
                                    <span class="glyphicon glyphicon-pencil"></span>编辑
                                </a>|
                                <a href="javascript:void(0);" title="删除修学处"
                                   onclick="confirm_delete('{{ url_for("admin.division_delete",id=div.id) }}');">
                                    <span class="glyphicon glyphicon-trash"></span>删除
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}