{% from "_macros.html" import render_errors %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <div class="row" style="margin-top: 150px;">
        <div class="col-md-5 col-md-offset-3">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endfor %}
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Login</h3>
                </div>
                <div class="panel-body">
                    <form action="{{ url_for('auth.login') }}" method="post" class="form-horizontal" role="form">
                        {{ form.csrf_token }}
                        {% set field=form.username %}
                        <div class="form-group {% if field.errors %} has-error{% endif %} ">
                            {{ field.label(class="col-md-3 control-label") }}
                            <div class="col-md-8">
                                {{ field(class="form-control") }}
                                {{ render_errors(field) }}
                            </div>
                        </div>
                        {% set field=form.password %}
                        <div class="form-group {% if field.errors %} has-error {% endif %} ">
                            {{ field.label(class="col-md-3 control-label") }}
                            <div class="col-md-8">
                                {{ field(class="form-control") }}
                                {{ render_errors(field) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-3">
                                {{ form.submit(class="form-control btn btn-default") }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>