{% extends 'base.html' %}
{% block content %}
    {% if users %}
        <table class="table table-bordered">
            <tr>
                <td>Id</td>
                <td>UserName</td>
                <td>RealName</td>
                <td>Email</td>
                <td>Role</td>
                <td>修改/删除</td>
            </tr>
            {% for u in users %}
                <tr>
                    <td>{{ u.id }}</td>
                    <td>{{ u.username }}</td>
                    <td>{{ u.realname }}</td>
                    <td>{{ u.email }}</td>
                    <td>{{ u.role.show_name }}</td>
                    <td><a href="{{ url_for('auth.user_edit',id=u.id) }}">编辑</a>|
                        <a href="{{ url_for('auth.user_delete',id=u.id) }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}