<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheet %}
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ url_for('static', filename='css/common.css') }}" rel="stylesheet" type="text/css"/>
    {% endblock %}
</head>
<body>
<header>
    <div class='header-top'>
        <div class="container">
            <h2 class="putidms-title"><a href="{{ url_for('main.index') }}">Sample</a></h2>
            <p class="lead signature">Sample2</p>
        </div>
    </div>
    <!--<div class="header-nav">-->
        <!--<div class="container">-->
            <!--<ol class="breadcrumb">-->
                <!--<li><a href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-home"> 首页</span></a>-->
                <!--</li>-->
                <!--<li><a href="#">Library</a></li>-->
                <!--<li class="active">Data</li>-->
                <!--{% if current_user.is_authenticated %}-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--<span class="glyphicon glyphicon-user"> {{ current_user.username }} </span><b-->
                            <!--class="caret"></b>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="">发表博文</a></li>-->
                        <!--<li><a href="{{ url_for('auth.user_edit',id=current_user.id) }}">管理博客</a></li>-->
                        <!--<li><a href="{{ url_for('auth.logout') }}">退出登陆</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--{% endif %}-->
            <!--</ol>-->

        <!--</div>-->
    <!--</div>-->


</header>
<div class="container">
    <div class="row" id="content2">
        <div class="col-md-2">
            {% block sidebar %}
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
            {% endblock %}
        </div>
        <div class="col-md-10">
            <div class="row">
                {% block flash %}
                {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }} alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                {% endblock %}
            </div>
            <div class="row">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
</div>
<footer>

</footer>

<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</body>
</html>