{% extends 'base.html' %}
{% from "_macros.html" import pagination_widget %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <form action="{{ url_for('main.counselor_search') }}" method="post" role="form" class="form-horizontal">
                    <div class="col-md-3">
                        <div class="form-group">
                            <input class="form-control" type="text" id="keyword" name="keyword"
                                   value="{{ keyword }}"
                                   placeholder="姓名,法名,Email,手机">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button type="submit" class="btn btn-default">
                            <span class="glyphicon glyphicon-search"></span> 查找
                        </button>
                    </div>
                </form>
                <div class="col-md-2" style="margin-left: 20px;">
                    <a class="btn btn-default" href="{{ url_for('main.counselor_add') }}" role="button">
                        <span class="glyphicon glyphicon-plus"></span> 新增辅导员
                    </a>
                </div>
            </div>
            {% if counselors %}
                <div class="row">
                    <table class="table table-striped table-bordered table-hover table-condensed">
                        <tr class="info">
                            <th>序号</th>
                            <th>姓名</th>
                            <th>法名</th>
                            <th>性别</th>
                            <th>生日</th>
                            <th>手机</th>
                            <th>Email</th>
                            <th>修学处</th>
                            <th>修学点</th>
                            <th>班级</th>
                            <th>岗位</th>
                            <th>带班</th>
                            <th>培训</th>
                            <th>考核</th>
                            <th>操作</th>
                        </tr>
                        {% for c in counselors %}
                            <tr>
                                <td>{{ (pagination.page - 1) * config.ITEMS_PER_PAGE + loop.index }}</td>
                                <td>{{ c.username }}</td>
                                <td>{{ c.religiousname }} </td>
                                <td>{{ c.gender }}</td>
                                <td>{{ c.birthday }}</td>
                                <td>{{ c.mobile }}</td>
                                <td>{{ c.email }}</td>
                                <td>{{ c.class_.department.division.name }}</td>
                                <td>{{ c.class_.department.name }}</td>
                                <td>{{ c.class_.name }}</td>
                                <td>{{ c.duty.name }}</td>
                                <td>
                                    <a href="{{ url_for('main.leadclass_add',cid=c.id) }}" title="添加带班记录">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                    <a href="{{ url_for('main.leadclass_list',cid=c.id) }}" title="查看带班记录">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('main.training_add',cid=c.id) }}" title="添加培训记录">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                    <a href="{{ url_for('main.training_list',cid=c.id) }}" title="查看培训记录">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('main.evaluation_add',cid=c.id) }}" title="添加考核记录">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                    <a href="{{ url_for('main.evaluation_list',cid=c.id) }}" title="查看考核记录">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('main.counselor_edit',id=c.id) }}" title="编辑">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a href="javascript:void(0);" title="删除辅导员"
                                       onclick="confirm_delete('{{ url_for("main.counselor_delete",id=c.id) }}');">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {{ pagination_widget(pagination, endpoint) }}
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-12">
                        没有找到相关资料！
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
{% endblock %}