{% extends 'base.html' %}
{% from "_macros.html" import render_field, render_submit_field %}
{% block content %}
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                编辑辅导员
            </h3>
        </div>
        <div class="panel-body">
            <div class="col-md-8 col-md-offset-1">
                <form action="{{ url_for('main.counselor_edit',id=counselor.id) }}" class="form-horizontal" role="form"
                      method="POST">
                    {{ form.csrf_token }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                {{ render_field(form.username,"col-md-3","col-md-9", placeholder="真实姓名") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                {{ render_field(form.religiousname,"col-md-3","col-md-9",placeholder="皈依法名") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                {{ render_field(form.birthday,"col-md-3","col-md-9",onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})",placeholder="格式：1980-10-29") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                {{ render_field(form.gender,"col-md-3","col-md-9") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                {{ render_field(form.mobile,"col-md-3","col-md-9", placeholder="填写11位手机号码") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                {{ render_field(form.email,"col-md-3","col-md-9", placeholder="填写正确格式的Email") }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                {{ render_field(form.division_id,"col-md-3","col-md-9",onChange="get_dept_list()" ) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn btn-default" href="{{ url_for('admin.division_add') }}" role="button">
                                        <span class="glyphicon glyphicon-plus"></span> 新增修学处
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                {{ render_field(form.department_id,"col-md-3","col-md-9",onChange="get_class_list()") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn btn-default" href="{{ url_for('admin.department_add') }}"
                                       role="button">
                                        <span class="glyphicon glyphicon-plus"></span> 新增修学点
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                {{ render_field(form.class_id,"col-md-3","col-md-9") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="btn btn-default" href="{{ url_for('admin.class_add') }}" role="button">
                                        <span class="glyphicon glyphicon-plus"></span> 新增班级
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                {{ render_field(form.duty_id,"col-md-3","col-md-9") }}
                                {{ render_submit_field(form.submit,"col-md-offset-3 col-md-4") }}
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='My97DatePicker/WdatePicker.js') }}"></script>
{% endblock %}