{% extends 'base.html' %}
{% from "_macros.html" import render_field, render_submit_field %}
{% block content %}
    <div class="row">
        <div class="col-md-offset-1 col-md-6">
            <form action="{{ url_for('main.training_add',cid=cid) }}" class="form-horizontal" role="form"
                  method="POST">
                {{ form.csrf_token }}
                {{ render_field(form.name,"col-md-3","col-md-9") }}
                {{ render_field(form.location,"col-md-3","col-md-9") }}
                {{ render_field(form.content,"col-md-3","col-md-9") }}
                {{ render_field(form.remark,"col-md-3","col-md-9") }}
                {{ render_field(form.from_date,"col-md-3","col-md-9",onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})",placeholder="格式：2015-03-29") }}
                {{ render_field(form.to_date,"col-md-3","col-md-9",onclick="WdatePicker({ dateFmt: 'yyyy-MM-dd'})",placeholder="格式：2016-10-31") }}
                {{ render_submit_field(form.submit,"col-md-offset-3 col-md-3") }}
            </form>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='My97DatePicker/WdatePicker.js') }}"></script>
{% endblock %}