body {
    font-family: "Lantinghei SC", "Microsoft YaHei", Helvetica, Arial, sans-serif;
}

.container {
    margin-top: 10px;
    /*border: #CCCCCC solid 1px;*/
}

#header {
    line-height: 60px;
    /*border: #CCCCCC solid 1px;*/
    margin-bottom: 15px;
}