body {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

table td {
    font-size: 12px;
}

th {
    font-size: 12px;
}

.pagination {
    margin-top: 0px;
}
