body {
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}


.pagination {
    margin-top: 0px;
}


.navmenu {
  padding: 13px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #ffffff;
  border-radius: 4px;
}
.navmenu > li {
  display: inline-block;
}
.navmenu > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "|\00a0";
}
.navmenu > .active {
  color: #777;
}
